sphinx
# sphinx-book-theme
sphinx-design
sphinx-copybutton
# Linking to Doxygen API documentation
sphinxcontrib-doxylink
myst-parser
sphinx_rtd_theme
# doxyphinx is not available on conda, use pip to install
# doxysphinx
